<!DOCTYPE html>
<html lang="en" data-ng-app="app" id="ng-app" data-ng-controller="buildingDataCloudCtrl">

<head>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <title>eMerchant</title>
    <!-- CSS -->
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/angular-datepicker.css" rel="stylesheet">

<body data-ng-class="loginBody ? 'login-body' : ''">
    <div class="bg-overlay"></div>
    <div class="page" data-ng-view></div>

    <!-- /.page -->
    <!-- AngularJS, jQuery & other necessary js -->
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-touch.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
 
    <script src="js/controller.js"></script>
    <script src="js/directive.js"></script>
    <script src="js/services.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
